<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paytm>                
                <model>One97\Paytm\Model\Paytm</model>                
                <title>Paytm  Wallet</title>
                <payment_action>authorize_capture</payment_action>
                <active>0</active>
                <order_status>pending_payment</order_status>
                <MID>MID</MID>
                <merchant_key>merchant_key</merchant_key>
                <custom_callbackurl>0</custom_callbackurl>
                <callback_url></callback_url>
                <transaction_url></transaction_url>
                <transaction_status_url></transaction_status_url>
                <Industry_id>Industry_id</Industry_id>
                <Channel_Id>WEB</Channel_Id>
                <Website>Website</Website>
                <allowspecific>0</allowspecific>
                <hide_promo_field>0</hide_promo_field>
                <promo_code_local_validation>0</promo_code_local_validation>
                <promo_code></promo_code>
            </paytm>
        </payment>
    </default>
</config>
