<?xml version="1.0"?>

<config>
   <sections>
        <payment>
            <groups>
                <paytm_cc translate="label" module="paytm">
                    <label>Paytm PG</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enable Plugin</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <!-- <validate>validate-select</validate> -->
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
                        
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <!-- <validate>required-entry</validate> -->
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                                                
                        
                        <inst_id translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>paytm/config_backend_instid</backend_model>
                            <!-- <validate>required-entry</validate> -->
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </inst_id>
                        
                        <inst_key translate="label">
                            <label>Merchant Key</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>paytm/config_backend_instid</backend_model>
                            <!-- <validate>required-entry</validate> -->
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </inst_key>
                            
                            <custom_callbackurl translate="label">
                                <label>Custom Callback Url</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <sort_order>6</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </custom_callbackurl>

                            <callback_url translate="label">
                                <label>Callback Url</label>
                                <frontend_type>text</frontend_type>
                                <validate>required-entry validate-url</validate>
                                <sort_order>7</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <depends>
                                    <custom_callbackurl>1</custom_callbackurl>
                                </depends>
                            </callback_url>

                            <transaction_url translate="label">
                                <label>Transaction Url</label>
                                <frontend_type>text</frontend_type>
                                <backend_model>paytm/config_backend_instid</backend_model>
                                <!-- <validate>required-entry validate-url</validate> -->
                                <sort_order>8</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                            </transaction_url>
                            <transaction_status_url translate="label">
                                <label>Transaction Status Url</label>
                                <frontend_type>text</frontend_type>
                                <backend_model>paytm/config_backend_instid</backend_model>
                                <!-- <validate>required-entry validate-url</validate> -->
                                <sort_order>9</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                            </transaction_status_url>
                        
                        <website translate="label">
                            <label>Website Name</label>
                            <frontend_type>text</frontend_type>
                            <!-- <validate>required-entry</validate> -->
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </website>
                        <industrytype translate="label">
                            <label>Industry Type (Retail,Entertainment etc.)</label>
                            <frontend_type>text</frontend_type>
                            <!-- <validate>required-entry</validate> -->
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </industrytype>


                        <promo_code_status translate="label">
                            <label>Promo Code Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </promo_code_status>
                        <promo_code_local_validation translate="label">
                            <label>Local Validation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </promo_code_local_validation>
                        <promo_codes translate="label">
                            <label>Promo Codes</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </promo_codes>
                    </fields>
                    
                </paytm_cc>
            </groups>
        </payment>
    </sections>
    
</config>